{% extends 'app/base.html' %}

{% load static %}
{% block title %}react{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <h1 class='text-center'>react</h1>

        <div id="table_content">Contents <span class="react"><a href="#"></a></span></p>
            <ul class="react2">
                <li><a href="#Welcome_You8217ve_Found_the_Easiest_Way_to_Learn_react_and_react"><span class="react3">1</span>
                        Welcome! You’ve Found the Easiest Way to Learn react and react.</a></li>
                <li><a href="#react_for_Absolute_Beginners"><span class="react4">2</span> react for Absolute Beginners</a>
                    <ul>
                        <li><a href="#What_is_react"><span class="react5">2.1</span> What is react?</a></li>
                        <li><a href="#The_History_of_react"><span class="react6">2.2</span> The History of react</a></li>
                        <li><a href="#What_are_Tags_and_Attributes"><span class="react7">2.3</span> What are Tags and
                                Attributes?</a></li>
                        <li><a href="#react_Editors"><span class="react7">2.4</span> react Editors</a></li>
                        <li><a href="#Creating_Your_First_react_Webpage"><span class="react7">2.5</span> Creating Your
                                First react Webpage</a></li>
                        <li><a href="#Adding_Content"><span class="react7">2.6</span> Adding Content</a></li>
                        <li><a href="#How_To_Close_an_react_Document"><span class="react7">2.7</span> How To Close an react
                                Document</a></li>
                        <li><a href="#Troubleshooting"><span class="react7">2.8</span> Troubleshooting</a></li>
                    </ul>
                </li>
                <li><a href="#Our_Other_react_Tutorials"><span class="react9">3</span> Our Other react Tutorials</a>
                    <ul>
                        <li><a href="#Intermediate_Advanced_Tutorials"><span class="react7">3.1</span> Intermediate &amp;
                                Advanced Tutorials</a></li>
                        <li><a href="#react_Reference_Guides"><span class="react7">3.2</span> react Reference Guides</a>
                        </li>
                        <li><a href="#react_Attributes_Reference_Guide"><span class="react7">3.3</span> react Attributes
                                Reference Guide</a></li>
                        <li><a href="#react_Cheat_Sheet"><span class="react7">3.4</span> react Cheat Sheet</a></li>
                        <li><a href="#The_reactcom_Blog"><span class="react7">3.5</span> The react.com Blog</a></li>
                        <li><a href="#The_reactcom_Guide_to_Web_Hosting"><span class="react7">3.6</span> The react.com
                                Guide to Web Hosting</a></li>
                    </ul>
                </li>
                <li><a href="#Improve_Your_react_Skills"><span class="react8">4</span> Improve Your react Skills</a></li>
            </ul>
        </div>


    </div>
    <h3>react for Absolute Beginners</h3>
    <div class="reactp">
        <p>
        <pre>While many guides on the internet attempt to teach react using a lot of mind-boggling theory, this<br>tutorial will instead focus on giving you the practical skills to build your first site.

The aim is to show you ‘how’ to create your first web page without spending the entire tutorial focusing too<br>much on the “why.”

By the end of this tutorial, you will have the know-how to create a basic website and we hope that this will<br> inspire you to delve further into the world of react using our follow-on guides.<br>
</pre>
    </div>



    </p>


</div>

<div class="text-center"><button type="button" class="btn btn-primary" onclick="document.location='#'">Want to learn
        More<br>
    </button></div>

{% endblock main-content%}